.navbar-inverse {
    background-color: #e51c23;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
