body {background-color: #edecec;}

.alert a.krumo-name, .alert li.krumo-child { color: #404000; }
.text-white { color: #fff; }

.p-no { padding: 0px!important; }
.p-5 { padding: 5px!important; }
.p-10 { padding: 10px!important; }
.p-15 { padding: 15px!important; }
.p-20 { padding: 20px!important; }

.m-no { margin: 0px!important; }
.m-5 { margin: 5px!important; }
.m-10 { margin: 10px!important; }
.m-15 { margin: 15px!important; }
.m-20 { margin: 20px!important; }

.bg-amber { background-color: #FFC107!important }
.bg-orange { background-color: #FF9800!important }
.bg-green { background-color: #4CAF50!important; }
.bg-green-light { background-color: #64FF9D;!important; }
.bg-red { background-color: #F44336!important; }
.bg-blue { background-color: #2196F3!important; }
.bg-gray { background-color: #9E9E9E!important; }
.bg-grey { background-color: #e4e4e4!important; }
.bg-white { background-color: #ffffff!important; }

.navbar-inverse .navbar-nav > li > a {color: #fff; font-size: 14px; text-transform: uppercase; }
.navbar-inverse .navbar-brand { color: #fff; }
.page-header { color: #777; }
.region-page-bottom {margin-top: 80px;}

.control-group .help-inline,
.form-group.has-error .help-block,
.help-block { color: #b9151b; }

.lg-text {font-size: 20px;}

.menu a.add-new-deal {background-color: #4CAF50;font-weight: bold;}
.navbar-inverse .navbar-nav > li > a.add-new-deal:hover {background-color: #FF9800;}

.focus {background-color: transparent;}
.focus:hover {background-color: #F5F2E9;}

.page-deal-cash-flow .table-responsive table {font-weight: bold;}

.sig-well .title {
    font-size: 16px;
    font-weight: bold
}

.sig-well .sigWrapper {
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    padding: 9px 0 0 1px
}


.table > tbody > tr.green-tr-1 > td {background-color: #B9FFCC;}
.table > tbody > tr.green-tr-2 > td {background-color: #84FFB1;}
.table > tbody > tr.green-tr-3 > td {background-color: #64FF9D;}
.table > tbody > tr.green-tr-4 > td {background-color: #B9FFCC;}
.table > tbody > tr.green-tr-5 > td {background-color: #84FFB1;}
.table > tbody > tr.green-tr-6 > td {background-color: #64FF9D;}

.table > tbody > tr.red-tr-1 > td {background-color: #ECAE78;color:#fff;}
.table > tbody > tr.red-tr-2 > td {background-color: #EB9077;color:#fff;}
.table > tbody > tr.red-tr-3 > td {background-color: #EB7478;color:#fff;}
.table > tbody > tr.red-tr-4 > td {background-color: #ECAE78;color:#fff;}
.table > tbody > tr.red-tr-5 > td {background-color: #EB9077;color:#fff;}
.table > tbody > tr.red-tr-6 > td {background-color: #EB7478;color:#fff;}

body.navbar-is-fixed-top {
    padding-top: 93px!important;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    background-color: #F44336;
    margin-right: 2px;
    color: #fff;
}

.nav-tabs > li > a, .nav-tabs > li > a:focus {
    color: #fff; font-size: 18px;
}

.navbar-inverse {
    background-color: #231F20;
    border-color: transparent;
}

.bg-primary {
    color: #fff;
    background-color: #434343;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
    border: none;
    -webkit-box-shadow: inset 0 -2px 0 #434343;
    box-shadow: inset 0 -2px 0 #434343;
    color: #434343;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus:hover {
    background-color: transparent;
    -webkit-box-shadow: inset 0 -2px 0 #FF9800;
    box-shadow: inset 0 -2px 0 #FF9800;
    color:#fff;
}

.nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus:hover {
    border: none;
    color: #434343;
}

.disclaimer-lead {font-size: 16.5px;}

h1, .h1 { font-size: 28px; }
h2, .h2 { font-size: 23px; }
h3, .h3 { font-size: 17px; }

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul.nav-tabs {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0px;
}

.deal-image-status .img-responsive {
    margin: 0 auto;
}

.card { background: #fff; margin-bottom: 30px }

@media screen and (min-width: 768px) {
    .card .card-header {
        padding:25px 27px
    }
}

@media screen and (max-width: 991px) {
    .card .card-header {
        padding:18px
    }
}

.card .card-header h2 {
    margin: 0;
    line-height: 100%;
    font-size: 17px;
    font-weight: 400
}

.card .card-header h2 small {
    display: block;
    margin-top: 8px;
    color: #AEAEAE;
    line-height: 160%
}

.card .card-header[class*=bgm-] h2,.card .card-header[class*=bgm-] h2 small,.card-light .card-header h2,.card-light .card-header h2 small {
    color: #fff
}

.card .card-header.ch-alt:not([class*=bgm-]) {
    background-color: #f7f7f7
}

.card .card-header .actions {
    position: absolute;
    right: 10px;
    z-index: 2;
    top: 15px
}

.card .card-header .btn-float {
    right: 25px;
    bottom: -23px;
    z-index: 1
}

.card a.card-header {
    display: block
}

@media screen and (min-width: 768px) {
    .card .card-body.card-padding {
        padding:25px 27px
    }
    .card-top-margin {
      margin-top:25px
    }
}

@media screen and (max-width: 991px) {
    .card .card-body.card-padding {
        padding:18px
    }
    .card-top-margin {
      margin-top:18px
    }
}

.card .card-body.card-padding-sm {
    padding: 15px
}

.card-header:not(.ch-alt):not([class*=bgm-])+.card-padding {
    padding-top: 0
}

.card,.mini-charts-item {
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
}

.table {
    margin-bottom: 0
}

.table>thead>tr>th {
    background-color: #fff;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
    border-width: 1px;
    text-transform: uppercase
}

.table.table-inner,
.table>tbody>tr.active>td,
.table>tbody>tr.danger>td,
.table>tbody>tr.info>td,
.table>tbody>tr.succes>td,
.table>tbody>tr.warning>td,
.table>tfoot>tr.active>td,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.info>td,
.table>tfoot>tr.succes>td,
.table>tfoot>tr.warning>td {border: 0;}
.table>tbody>tr>td:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>td:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>thead>tr>th:first-child {padding-left: 30px;}
.table>tbody>tr>td:last-child,
.table>tbody>tr>th:last-child,
.table>tfoot>tr>td:last-child,
.table>tfoot>tr>th:last-child,
.table>thead>tr>td:last-child,
.table>thead>tr>th:last-child {padding-right: 30px;}
.table>tbody>tr:last-child>td,.table>tfoot>tr:last-child>td {padding-bottom: 20px;}
.table-striped td,.table-striped th {border: 0!important;}
.table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th {border-bottom: 0;border-left: 0;}
.table-bordered,.table-bordered>tbody>tr>td:last-child,
.table-bordered>tbody>tr>th:last-child,
.table-bordered>thead>tr>th:last-child {border-right: 0;}
.table-bordered>thead>tr>th {border-left: 0;}
.table-vmiddle td {vertical-align: middle!important;}
.table-responsive {border: 0;}

.page-deal .input-group-addon {vertical-align: bottom;font-weight: bolder;}
.page-deal .container-inline-date .date-padding { float: none;}

#admin-menu-search label {display: none;}
